= form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg


  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :input_folder
    = f.text_field :input_folder
  .field
    = f.label :output_folder
    = f.text_field :output_folder
  .field
    = f.label :run_frequency
    = f.text_field :run_frequency
  .field
    = f.label :run_at
    = f.datetime_select :run_at
  .actions
    = f.submit 'Save'
