= f.input :name, input_html: {maxlength: 50}
= f.input :description, as: :text
= f.input :input_folder
= f.input :pdf_folder
= f.input :active, as: :boolean
= f.input :run_frequency, collection: ['Daily','Hourly','Weekly','Monthly'], prompt: false

= f.input :next_run, as: :datetime_picker, input_html: {id: 'datetimepicker6'}
:javascript
  $(function () {
    $('#datetimepicker6').datetimepicker();
  });

.modal-footer
  = f.button :submit, "Save", class: %w(btn btn-default btn-success)
  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel