.field
  = f.input :name
.field
  = f.input :description, as: :text
.field
  = f.input :input_folder
.field
  = f.input :output_folder
.field
  = f.input :run_frequency, collection: ['once','Twice']
.field
  %label
  / #datetimepicker.input-group.date
  /   = f.input :run_at, as: :string
  /   %span.input-group-addon
  /     %span.glyphicon.glyphicon-calendar
  / :javascript
  /   $(function () {
  /       $('#datetimepicker').datetimepicker();
  /   });
  #datetimepicker6
    = f.input :run_at, as: :string
    :javascript
      $(function () {
          $('#datetimepicker6').datetimepicker();
      });

.actions
  = f.button :submit , "Save", class: %w(btn btn-default btn-success)

  = link_to "Cancel", projects_path , :class => "btn btn-sm btn-default"