%tr
  %td{:align => "center"}= @i
  %td= link_to project.name, project
  - if project.last_test_run.present?
    - latest_test = project.last_test_run
    %td= project.last_run.strftime('%d-%b-%Y %I:%M%p') if project.last_run.present?
    - if latest_test.status == 'success' || latest_test.status == 'failed'
      - status_image = project.last_test_failed ? 'success.png' : 'failure.png'
      %td{:align => "center"}= image_tag(status_image, size: "22x22", alt: latest_test.status,title: latest_test.status)
      %td.blue{:align => "center"}= link_to_if(latest_test.processed > 0, latest_test.processed, reports_path(test_run_id: latest_test.id, status: 'processed', from: 'projects'), :class => "link-underline", data: { toggle: 'modal', target: '.bs-example-modal-lg'})
      %td.green{:align => "center"}= link_to_if(latest_test.success > 0, latest_test.success, reports_path(test_run_id: latest_test.id, status: 'success', from: 'projects'), :class => "link-underline", data: { toggle: 'modal', target: '.bs-example-modal-lg'})
      %td.red{:align => "center"}= link_to_if(latest_test.failed > 0,latest_test.failed, reports_path(test_run_id: latest_test.id, status: 'failed', from: 'projects'), :class => "link-underline", data: { toggle: 'modal', target: '.bs-example-modal-lg'})
    -else
      %td{colspan: 4,align: 'center'}= latest_test.status_message
  - else
    %td{colspan: 5,align: 'center'}= ""

  %td.next= project.next_run.strftime('%d-%b-%Y %I:%M%p') if project.next_run.present?
  %td{:align => "center"}= project.run_frequency
  %td{:align => "center"}= project.active == true ? 'Active' : 'In Active'