%h3 Listing projects
= search_form_for @search do |s|
  = s.label :name_cont, "Project Name"
  = s.text_field :name_cont
  = s.submit "Search"
= paginate @projects
%table.table.table-striped.table-hover#projects_list

  %tr
    %th Sl No.
    %th Project Name
    %th Last Ran At
    %th Status
    %th Processed
    %th Success
    %th Failed
  - @i = 0
  - @projects.each do |project|
    -@i = @i+1
    = render :partial => "project", :locals => {:project => project}
%br

- if current_user.admin?
  %button#project_form.btn.btn-primary New Project
  #new_project_form{:style => "display:none;"}
    %h3 Creating Project
    = render :partial => "new", :locals => {:project => Project.new}


  :javascript
    $("#project_form").click(function(){
      $("#new_project_form").css("display", "block");
      $(this).hide();
    })