#project.row
  - if current_user.admin?
    .pull-right
      = link_to 'Back', projects_path, class: 'btn btn-sm btn-primary'
      - if @project.pdf_xml_mappings.first.present?
        = link_to 'List of mappings', project_mappings_path(@project), class: 'btn btn-sm btn-primary'
      = link_to 'Edit', edit_project_path(@project), class: 'btn btn-sm btn-primary'
      = link_to 'Destroy', @project, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-sm btn-primary'
  %h3 Project : #{@project.name}
  = paginate @test_runs
  - i = 0
%table.table.table-striped.table-hover
  %tr
    %th Sl No.
    %th Last Ran At
    %th Status
    %th Processed
    %th Success
    %th Failed

  - @test_runs.each do |test_run|
    - i = i+1
    %tr
      %td= i
      %td= test_run.run_at.strftime('%d-%b-%Y %I:%M%p')  if test_run.run_at.present?
      - if test_run.status == 'success' || test_run.status == 'failure'
        - status_image = test_run.failed > 0 ?  'failure.png' : 'success.png'
        %td= image_tag(status_image, size: "28x28", alt: test_run.status)
        %td= link_to_if(test_run.processed > 0, test_run.processed, reports_path(test_run_id: test_run.id, status: 'processed', from: 'test_runs'), :class => "link-underline")
        %td= link_to_if(test_run.success > 0, test_run.success, reports_path(test_run_id: test_run.id, status: 'success', from: 'test_runs'), :class => "link-underline")
        %td= link_to_if(test_run.failed > 0, test_run.failed, reports_path(test_run_id: test_run.id, status: 'failure', from: 'test_runs'), :class => "link-underline")
      - else
        %td{colspan: 4,align: 'center'}= test_run.status_message
