#project.row
  - if current_user.admin?
    .pull-right
      = link_to 'Edit', edit_project_path(@project), class: 'btn btn-sm btn-primary'
      = link_to 'Destroy', @project, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-sm btn-primary'
  %h3 Project : #{@project.name}
%table.table.table-striped.table-hover
  %tr
    %th Last Run At
    %th Status
    %th Processed
    %th Successed
    %th Failed

  - @project.test_runs.run_at_desc.each do |test_run|
    %tr
      %td= test_run.run_at
      - status_image = test_run.failed > 0 ?  'failure.png' : 'success.png'
      %td= image_tag(status_image, size: "28x28", alt: test_run.status)
      %td= link_to_if(test_run.processed > 0, test_run.processed, reports_show_report_path(test_run_id: test_run.id, status: 'processed', from: 'test_runs'))
      %td= link_to_if(test_run.success > 0, test_run.success, reports_show_report_path(test_run_id: test_run.id, status: 'success', from: 'test_runs')
      %td= link_to_if(test_run.failed > 0, test_run.failed, reports_show_report_path(test_run_id: test_run.id, status: 'failure', from: 'test_runs'))
  = link_to 'Back', projects_path, class: 'btn btn-link'
  - if @project.pdf_xml_mappings.first.present?
    = link_to 'List of mappings', @project.pdf_xml_mappings.first