<div id = "submit_form" >
 <%= simple_form_for [:admin, @user], :url => admin_users_path, wrapper: :horizontal_form do |f| -%>
  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :role, collection: (User::ROLES.map{|r| [r.to_s.capitalize, r]}) %>
  <%= f.button :submit , "Save", class: %w(btn btn-default btn-success) %> or
  <%= link_to "Cancel", admin_users_path , :class => "btn btn-sm btn-default"%>

<% end -%>
</div>