<div class='row' style="margin: 0px 0px;"> <%= f.input :role, collection: (User::ROLES.map{|r| [r.to_s.capitalize, r]}), prompt: false %></div>
<div class='row' style="margin: 0px 0px;">
<%= f.input :username,placeholder: "UserName" %>
<%= f.input :email ,placeholder: "Email" %>
<%= f.input :password ,placeholder: "Password" %>
<%= f.input :password_confirmation ,placeholder: "Password Confirmation" %>
<%= f.button :submit , "Save", class: %w(btn btn-sm btn-success) %>
<%= link_to "Cancel", admin_users_path , :class => "btn btn-sm btn-default"%>
</div>
