
<label><%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>:</label>
<p><%= @user.email %></p>

<div class="form-actions">
<%= link_to "Back", admin_users_path, :class => 'btn btn-default btn-success'  %>
<%= link_to "Edit", edit_admin_user_path(@user), :class => 'btn btn-default btn-success' %>
<%= link_to "Delete", admin_user_path(@user), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-default btn-success' %>
</div>
