- source_from = params[:from] == 'projects' ? projects_path : @test_run.project
.reports_search
  .pull-right
    = search_form_for @search, :remote => true do |s|
      %ul.nav.navbar-nav
        %li
          %img{:alt => "search", :height => "15", :src => "/assets/search-icon.png", :width => "15"}/
        %li
          = s.text_field :pdf_name_cont, class: "form-style", placeholder: "Pdf Name"
          = hidden_field_tag :test_run_id, params[:test_run_id]
          = hidden_field_tag :status, params[:status]
        %li
          = s.submit "Search", class: 'btn-style reports-refresh'

  .cnt-header-txt-reports
    %h3{style: "display: inline;color: #003d60;font-size: 18px"} #{@test_run.project.name} : 
    - if @test_run.run_at.present?
      %h4{style: "display: inline;color: #0086d3;font-size: 14px"} #{@test_run.run_at.to_datetime.strftime('%d-%b-%Y %I:%M%p')}
      %h5{style: "display: inline;font-size: 13px;color: #797a7b"} (#{params[:status].upcase})
      %hr{style: "clear: both;"}/

#accordion1.panel-group
  - i = 0
  - @reports_page.each do |page|
    - i = i + 1
    .panel.panel-default
      %a{"data-parent" => "#accordion1", "data-toggle" => "collapse", :href => "#content_#{i}"}
        .panel-heading.reports
          - status_image_file = page.count == page.passed ? 'success.png' : 'failure.png'
          .pull-right
            %span.caret
          %h4.panel-title
            =image_tag(status_image_file, size: "16x16")
            #{page.pdf_name} -
            %strong (#{page.count})

      %div{class: 'panel-collapse collapse', id: "content_#{i}"}
        .panel-body
          %table.table.table-striped.table-reports
            %tr
              %th.col-lg-2 Xml Node
              - if params[:status] == "processed"
                %th.col-lg-1 Status
              - if ["processed", "failed"].include? (params[:status])
                %th.col-lg-5 Reason

            - @reports[page.pdf_name].each do |r|
              %tr
                %td= r.xml_node
                - if params[:status] == "processed"
                  - status_image = r.is_passed ? 'success.png' : 'failure.png'
                  - status_message = r.is_passed ? 'success' : 'failure'
                  %td= image_tag(status_image, size: "28x28", alt: status_message)
                - if ["processed", "failed"].include? (params[:status])
                  %td= r.reason
= paginate @reports_page, remote: true
