%h1 Listing pdf_xml_mappings

%table.table.table-striped.table-hover
  %tr
    %th Xml node
    %th Pdf text
    %th Project
    %th
    %th
    %th

  - @pdf_xml_mappings.each do |pdf_xml_mapping|
    %tr
      %td= pdf_xml_mapping.xml_node
      %td= pdf_xml_mapping.pdf_text
      %td= pdf_xml_mapping.project.name
      %td= link_to 'Show', pdf_xml_mapping
      %td= link_to 'Edit', edit_pdf_xml_mapping_path(pdf_xml_mapping)
      %td= link_to 'Destroy', pdf_xml_mapping, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pdf xml mapping', new_pdf_xml_mapping_path
