.pull-right
  = link_to 'Back', @project,  class: 'btn btn-sm btn-primary'
%h3 Project : #{@project.name}
%table.table.table-striped.table-hover
  %tr
    %th Xml node
    %th Pdf text


  - @project.pdf_xml_mappings.each do |pxm|
    %tr
      %td= pxm.xml_node
      %td= pxm.pdf_text


%br

= link_to 'New Pdf xml mapping', new_pdf_xml_mapping_path, class: 'btn btn-sm btn-primary'