!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Pdf Verifier
    %link{:href => "assets/style.css", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .main-wrapper
      .header-wrapper
        .header-top
          .logo
            %img{:src => "assets/logo.png"}/
          .header-right
            -if user_signed_in?
              .header-right-user
                %span
                  %img{:alt => "user", :height => "15", :src => "assets/user-icon.png", :width => "18"}/
                %label
                  %span Welcome to
                  = current_user.username
              .header-right-nav
                %ul
                  %li
                    %a.main{:href => "#"} Account Settings
                    %ul
                      -if current_user.admin?
                        %li= link_to('Users List', '/admin/users')
                      %li
                        %a{:href => "#"} Settings
                      %li
                        %a{:href => "#"} Other Link
              .header-right-logout
                = link_to('Logout', destroy_user_session_path, :method=>'delete')
                %span
                  %img{:alt => "logout", :height => "15", :src => "assets/logout-icon.png", :width => "18"}/
        .header-bottom
          .header-m-nav
            %ul
              %li
                %a{:href => "#"}
                  %span>
                    %img{:alt => "list", :height => "14", :src => "assets/list-icon.png", :width => "14"}/
                  Project List
              %li
                %a{:href => "#"}
                  %span>
                    %img{:alt => "edit", :height => "14", :src => "assets/edit-icon.png", :width => "14"}/
                  Project List
              %li
                %a{"data-target" => "#myModal", "data-toggle" => "modal"}
                  %span>
                    %img{:alt => "add", :height => "14", :src => "assets/add-icon.png", :width => "14"}/
                    New Project
        .cnt-wrapper
          = yield
          - if current_user && current_user.admin?
            #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-dialog
                .modal-content
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                      %span.sr-only Close
                    %h4#myModalLabel.modal-title Creating Project
                  #new_project_form.modal-body
                    = render "projects/new"
        %br/
        .footer-wrapper
          © Copyright - 2014 - pdfgene.com