!!!
%html{:lang => "en"}
  %head= render partial: 'layouts/head'
  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %h2
              = link_to 'PDF Verifier', admin_users_path, class: 'logo'
          %ul.nav.navbar-nav.navbar-right
            -if user_signed_in?
              -if current_user.super_admin?
                %li= link_to('Organizations', '/admin/organizations')
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = 'Projects'
                  %span.caret
                  %ul.dropdown-menu
                    %li
                      %li= link_to "Projects List", projects_path
                    -if current_user.admin?
                      %li= link_to('Create/Update Project Mapping', '/pdf_xml_mappings/new', :method=>'get')
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = current_user.username
                  %span.caret
                  %ul.dropdown-menu
                    %li
                      %li= link_to "#{current_user.username} Details", "/admin/users/#{current_user.id}"
                      -if current_user.admin?
                        %li= link_to('Users List', '/admin/users')
                      %li= link_to('Logout', destroy_user_session_path, :method=>'delete')
            -else
              %li= link_to "Login",  new_user_session_path
    .container
      .row
        .col-lg-9
          = yield
          - if current_user && current_user.admin?
            #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-dialog
                .modal-content
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                      %span.sr-only Close
                    %h4#myModalLabel.modal-title Creating Project
                  #new_project_form.modal-body
                    = render "projects/new"
